<!--item-->
<div>
    <figure>
        <img src="{{photo.link}}" alt=""/>
        <!--<figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>-->
    </figure>
    <div class="container">

        <div class="row">
            <div class="one-half">
                <span>  <i class="icon dislike icon-bin"></i></span>

            </div>
            <div class="one-half">
                <span> <i class="icon like icon-smile"></i>  </span>

            </div>

        </div>
    </div>
</div>
<!--item-->